.pol-img-about{
    filter: grayscale(80%) saturate(80%) opacity(80%);

}

.about-row{
    display: flex;
    flex-direction: row;
}

.abt-polaroid h4{
    font-size: 2em;
    font-family: 'Nothing You Could Do', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.abt-polaroid{
    margin:3em;
    margin-left: 5em;
    width: 25vw;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #E9E6EB !important;
    flex-wrap: wrap;
    font-family: 'Nothing You Could Do';
}

.about-pol h4{
    font-family: 'Caveat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.about-me{
    padding: 1em;
    font-family: 'Quattrocento', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socialicons{
    color: #669194;
    padding: 10%;
    margin: 10px;
}

.socialicons:hover{
    color: rgb(212, 175, 229, 0.65);
}

.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* all media queries */
@media only screen and (max-width:1050px){
    
}

@media only screen and (max-height:652px){
    .abt-polaroid {
        height: 80vh;
    }
}

@media only screen and (max-width:960px){
    .abt-polaroid{
        width: 40vw;
    }
    .about-pol h4{
        font-size: 2em;
    }
    .about-me{
        margin-left:10em;
    }
}

@media only screen and (max-width:720px){
    .abt-polaroid{
        width: 40vw!important;
    }

}

@media (max-width:660px){
    .frosted h1{
        font-size: 4.3rem!important;
    }
}


@media (max-width:576px){
    .abt-polaroid{
        margin-left: auto;
        width: 60vw!important;
    }
    .about-me{

    }
}

@media only screen and (max-width:400px){
    .abt-polaroid{
        width: 70vw!important;
    }
}

@media only screen and (max-width:350px){
    .abt-polaroid{
        margin-left: auto;
        width: 65vw!important;
        height: 80vh;
    }
    .abt-polaroid h4{
        font-size: 1em;
    }
}