
.headPane{
    background: url("../images/afm47/city_map.png");
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    left:0px;
    right:0px;
    height: 50vh;  
    position: relative;
}

.lofi img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    align-content: center;
}

.hifi img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    align-content: center;
}

.designcriteria{
    padding-left: 5vw;
    padding-right: 5vw;
}

.usability{
    font-size: small;
    overflow:scroll;
}

.learnability{
    font-size: small;
    overflow:scroll;
}

.memorability{
    font-size: small;
    overflow:scroll;
}

.accessibility{
    font-size: small;
    overflow:scroll;
}

.judgement{
    font-size: small;
    overflow:scroll;
}

.designcriteria h4{
    text-align: center;
}

.lofi{
    padding: 5vw;
    padding-bottom: 2vw;
}
.lofi p{
    background-color: blanchedalmond;
    padding: 2em;
}

.hifi{
    padding: 5vw;
    padding-bottom: 2vw;
}

.hifi p{
    background-color: blanchedalmond;
    padding: 2em;
}

.styleguide{
    padding: 5vw;
    padding-bottom: 2vw;
}

.styleguide h5{
    font-family: 'Encode Sans Expanded', cursive;
}

.styleguide ul{
    text-decoration: none;
    list-style: none;
}

.styleguide li{
    margin-bottom: 1vw;
}

.showing-style{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#bluecircle{
    background-color: #1b7098;
}

#orangecircle{
    background-color: #fcc686;
}

#blackcircle{
    background-color: black;
}

#whitecircle{
    background-color: white;
    border-style: solid;
}

#logocolorcircle{
    background-color: #4FB1E0;
}

.encodesans{
    font-family: 'Encode Sans Expanded', cursive; 
}

.explain{
    margin: 2vw;
    vertical-align: middle;
}

.linkedonblue{
    background-color: #1b7098;
}
.linkedonblue a{
    color:white;
}
.linkedonblue a:hover{
    color: #fee8cd;
}

.linkedonorange{
    background-color: #fcc686;
}
.linkedonorange a{
    color:black;
}
.linkedonorange a:hover{
    color: #1b7098;
}

.subnavbtn{
    background-color: #1b7098;
    color: white;
    border:none;
    outline:none;
    padding: 1.2vw 1.2vw;
    font-size: 1.25vw;
    font-family: inherit;
    margin-bottom: 2vw;
}

.subnavbtn:hover{
    background-color: black;
}

.subnav-a{
    background-color: #FCC686;
    color:black;
    font-size: 1.25vw;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
    margin-bottom: 2vw;
}

.subnav-a:hover{
    background-color: black;
    color: white;
}

.membershiplogin{
    margin: 0 auto;
    display: inline-block;
    background-color: #FCC686;
    border:none;
    outline:none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.membershiplogin:hover{
    background-color:black;
    color: white;
}

.membershiplogin a{
    padding-left: 2vw;
    padding-right:2vw;
    font-size: 1.25vw;
}

.quicknavbutton{
    font-size: 1.5vw;
    background-color: #1b7098;
    color: white;
    border:none;
    outline:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20vw;
    height:10vw;
    vertical-align: middle;
    margin-bottom: 2vw;
}

.quicknavbutton a{
    padding: 2vw;
}

.quicknavbutton:hover{
    background-color: #fcc686;
    color: black;
}

.menubutton{
    color: white;
    height:auto;
    width:100%;
    z-index: 1;
    font-size: large;
}

.sidebar-show-wrap{
    background-color: #1b7098;
    color: white;
}

.sidebar-show-wrap p{
    margin-left: 7vw;
    margin-bottom: 2vw;
}

.searchstuff input{
    margin: 5px;
}

.searchstuff button{
    margin: 0 auto;
    display: inline-block;
    background-color: #FCC686;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.searchstuff button:hover{
    background-color: white;
}

.search{
    font-size: 1vw;
    height: 3vw;
}

.access{
    text-align: center;
    padding: 0.5vw;
}

.access a{
    color: #1b7098;
}

@media (max-width: 940px){
    .container-item h1{
        font-size: 5rem!important;
    }
}

@media (max-width: 800px){
    .container-item h1{
        font-size: 3rem!important;
    }
}


