.background-box{
    margin: 2vw;
    background-color: #b7f3d6;
    padding: 2vw;
}

.mint-background{
    background-color: #b7f3d6;
}

.pink-background-box{
    margin: 2vw;
    padding: 2vw;
    background-color: #fddedd;
}

.pink-border-box{
    border: 3px ridge #fddedd;
}

.home-img{
    width: 75%;
    margin: auto;
    display: block;
    align-self: center;
    justify-content: center;
}

 .section-div h4{
     text-align: center;
 }

 .teaser-box{
    justify-content: center;
    width: 75%;
    margin: auto;
 }

 .video-reel{
    display: block;
    margin: auto;
 }
 .imgspacing{
    display: flex;
    margin:1vw;
    padding:1vw;
}

 @media (max-width: 830px){
    .container-item-darker h1{
        font-size: 4rem!important;
    }
}

@media (max-width: 675px){
    .container-item-darker h1{
        font-size: 3rem!important;
    }
}

@media (max-width:576px){
    .container-item-darker h1{
        font-size: 3rem!important;
    }
}

 @media (max-width:510px){
    .container-item-darker h1{
        font-size: 2rem!important;
    }
 }

 

 @media only screen and (max-width:350px){
    .container-item-darker h1{
        font-size: 2rem!important;
    }
}