.headPane{
    background-image: url("../images/jpmc/2.png");
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    left:0px;
    right:0px;
    height: 50vh;  
    position: relative;
}

.image-display{
    margin: 2vw;
    padding: 2vw;
    background-color: #bbc9ff;
}

.pic-box{
    margin: 2vw;
}