.headPane{
    background-color: rgb(0, 85, 113);
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    left:0px;
    right:0px;
    height: 50vh;  
    position: relative;
}