

.sidebar-wrap{
    display: none;
    background: #7FB6BA;
    margin: 1em;
    padding:1em;
    z-index: 4;
}

.imgspacing{
    margin:1vw;
    padding:1vw;
}

.row-of-4{
    margin:0;
    width:70%;
}