/* Put your style information here! */
/* caveat-regular - latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caveat-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/caveat-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/caveat-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/caveat-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/caveat-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/caveat-v9-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
  }
  
  /* quattrocento-sans-regular - latin */
@font-face {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quattrocento-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/quattrocento-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quattrocento-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quattrocento-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/quattrocento-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quattrocento-sans-v13-latin-regular.svg#QuattrocentoSans') format('svg'); /* Legacy iOS */
}

/* quattrocento-regular - latin */
@font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/quattrocento-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/quattrocento-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/quattrocento-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/quattrocento-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/quattrocento-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/quattrocento-v12-latin-regular.svg#Quattrocento') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Nothing You Could Do";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NothingYouCouldDo-Regular.eot');
    src: local(''),
        url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype'),
        url('../fonts/NothingYouCouldDo-Regular.woff') format('woff');

}

body{
    margin: 0;
    padding: 0;
}

.headPane{
    background-image: url("../images/jpmc/2.png");
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    left:0px;
    right:0px;
    height: 50vh;  
    position: relative;
}

.container-item{
    width: 70vw;
    height: 8rem;
    background-color: rgb(127, 182, 186, 0.65);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Nothing You Could Do';
}

.title-text{
    display: inline-block;
    vertical-align: middle;
}

.container-item h1{
    z-index: 2;
    color: black;
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
}

.pagesbar {
    display: inline-flex;
    background: #7FB6BA;
    margin: 1em;
    padding-right:1em;
    margin-right:0em;
    font-family: 'Quattrocento';
}

.projectsa{
    color: #3d3c3c;
    font-weight: 500;
    margin-left: 0.5em;
    margin-right: 1em;
}

.projectsmenu{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.scrolla{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.musica{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.resumea{
    color: #3d3c3c;
    font-weight: 500;
    margin-right: 1em;
}

.abouta{
    color: #3d3c3c;
    font-weight: 500;
}

.scrolla:hover{
    background: rgb(212, 175, 229, 0.65);
    color: black;
}

.projectsa:hover{
    background: rgb(212, 175, 229, 0.65);
    color: black;
}

.resumea:hover{
    background: rgb(212, 175, 229, 0.65);
    color: black;
}

.abouta:hover{
    background: rgb(212, 175, 229, 0.65);
    color: black;
}

.sidebar-wrap{
    display: none;
    background: #7FB6BA;
    margin: 1em;
    padding:1em;
    z-index: 4;
}

.sidebar-wrap i{
    color: #3d3c3c;
}

.guide-text{
    text-align: center; 
    margin-top: 5vh;
    font-size: 2rem;
    font-family: 'Caveat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linked-image{
    width: 20%;
    margin: auto;
    padding-top: 2vw;
    display: block;
    align-self: center;
    justify-content: center;
}

.section-div{
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw; 
    font-family: 'Quattrocento Sans';
}

.content-text-box{
    margin:1vw;
    padding:2vw;
 }

 footer{
    font-size: small;
    margin-top: 10vh;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #7E6B8F;
    color: white;
    text-align: center;
}

@media (max-width: 830px){
    .container-item h1{
        font-size: 4rem!important;
    }
}

@media (max-width: 675px){
    .container-item h1{
        font-size: 3rem!important;
    }
}

@media (max-width:576px){
    .container-item h1{
        font-size: 3rem!important;
    }
    .sidebar-wrap{
        display: inline-block;
        position: inherit;
        z-index: 1;
    }
    .pagesbar{
        display:none;
    }
    .navbar{
        display: none;
    }
}

 @media (max-width:510px){
    .container-item h1{
        font-size: 2rem!important;
    }
 }

 

 @media only screen and (max-width:350px){
    .container-item h1{
        font-size: 2rem!important;
    }
    .pagesbar {
        float: left;
        background: #7FB6BA;
        margin: 0.5em;
        padding:0.5em;
    }
}