.home-img{
    width: 50%;
    margin: auto;
    display: block;
    align-self: center;
    justify-content: center;
}

.image-display{
    margin: 2vw;
    padding: 2vw;
    background-color: #C8D9BE;
}

.light-green-background{
    background-color: #C8D9BE;
}